$my_detective_version = 'french-spider 1.0';
$my_detective_admin = "webmaster\@french-spider.com";

$VAR_CONTENT{'ROOT'} = ("/my_detective");

$root_path = "/home/paul/dev/my_detective";

### CONFIG SERVEUR ###
$config_url_language{'fr'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'be'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'lu'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'ch'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'eu'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'es'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'it'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'de'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'uk'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'at'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'fi'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'no'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'nl'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'pt'} = "http://XXX.XXX.XXX.XXX/my_detective/";
$config_url_language{'se'} = "http://XXX.XXX.XXX.XXX/my_detective/";

1;
